<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/stores.css" />
    <link rel="stylesheet" href="/storesDetail.css" />
    <link rel="stylesheet" href="/loading.css" />
    <link rel="stylesheet" href="/storeCreate.css" />
    <link rel="stylesheet" href="/myDibs.css" />
    <link rel="stylesheet" href="/profile.css" />
    <link rel="stylesheet" href="/order.css" />
    <link rel="stylesheet" href="/select_menu.css" />
    <link rel="stylesheet" href="/review.css" />
    <link rel="stylesheet" href="/store_reviews.css" />
    <link rel="stylesheet" href="/my_reviews.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>

  <body>
    <div id="wrap">{% block content %} {% endblock %}</div>

    {% block script %} {%endblock%}
  </body>
</html>
