{% extends 'layout.html' %} {% block content %}
<div>
    <div id="top">
        <a href="/main"><img id='home' src="/images/home_FILL0_wght400_GRAD0_opsz48.png"
                style="width:30px; height:30px; float: right; margin-left: 250px;" /></a>
        <img src="/images/back.png" style="width:20px; height:20px; margin-top: 5px;" onclick="window.history.back()" />
    </div>
    <div>
        <div id="titleDiv">
            <p style="font-size: 20px; font-weight: bold;">사장님 주문 내역</p>
        </div>
    </div>
    <div style="margin-top: 30px;">
        {% if orders.length === 0 %}
        <div style="text-align: center; padding-top: 170px;">
            <p style="font-size: large;">텅~</p>
        </div>
        {% endif %}
        {% for order in order %}
        <div class="order_box" style = "margin-top: 30px;">
            {% if order.status !== '0' and order.status !== '4' %}
            <a href="/order/{{order.order_id}}">
            {% endif %}
                <p style="float: right; font-size: medium; font-weight: bold; padding-right: 20px;">
                    {{order.price}}원</p>
                <p style="font-size: medium; font-weight: bold;">{{order.name}}</p>
                {%if order.status === '0' %}
                <p style="float: right; padding-right: 20px;">주문 취소</p>
                {%elif order.status === '1' %}
                <p style="float: right; padding-right: 20px;">주문 요청</p>
                {%elif order.status === '2' %}
                <p style="float: right; padding-right: 20px;">조리중</p>
                {%elif order.status === '3' %}
                <p style="float: right; padding-right: 20px;">배달중</p>
                {%elif order.status === '4' %}
                <p style="float: right; padding-right: 20px;">배달 완료</p>
                {% endif %}
                <p>주문 상태:</p>
            {% if order.status !== '0' and order.status !== '4' %}
            </a>
            {% endif %}
            <hr style="border: solid 1px rgb(202, 25, 84);">
        </div>
        {% endfor %}
    </div>
</div>
<!-- <nav id="nav3">
    <a href="/main"><img src="/images/home_FILL0_wght400_GRAD0_opsz48.png" /></a>
    <a><img src="/images/favorite_FILL0_wght400_GRAD0_opsz48.png" /></a>
    <a><img src="/images/text_snippet_FILL0_wght400_GRAD0_opsz48.png" /></a>
    <a><img src="/images/person_FILL0_wght400_GRAD0_opsz48.png" /></a>
</nav> -->

{% endblock %}